.tablet{
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 0.7% 0.33% 0.33% 0.33%;
    padding: 0.33% 0.33% 0.33% 0.33%;
}

.inputs{
    border-radius: 10px;
    margin-top: 5%;
}